<section>
  
    <div class="row mx-auto text-center">
      <div class="col-6">
        <div class="col-12 ">
          <label>Imagen</label>
          <input formControlName="fileImg"  class="form-control" type="file" (change)="handleFileInput($event)">

          <div *ngIf="imageLoad()!=''" class="mt-5">
            <h4>imagen cargada</h4>
            <img src="{{imageLoad()}}" alt="imagen">

            <div class="mt-3">
              <button class="btn btn-primary" (click)="postimage()">Enviar</button>
            </div>  
          </div>

          
      </div>
      </div>
      <div class="col-6">
        <h3>Respuesta de la API</h3>

        <p>{{dataResponseImage().message}}</p>
        
      </div>
    

    </div>

  
</section>